################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankProject/bin/Debug
/BankProject/obj/Debug
